body {
    background-color: #bdfc2a;
    min-height: 200vh;
}

.wrapper {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-body {
    background-color: #bdfc2a !important;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(46, 44, 44);
}

.bg-f7 {
    background-color: #f7f7f7 !important;
}

.big-border {
    border: 15px solid rgb(201, 197, 197);
}

.rounded-big {
    border-radius: 30px;
}

#footprint-img {
    width: 53%;
    transition: 0.6s;
}

* {
    transition: 0.6s;
}

.bg-d9 {
    background-color: #d9d9d9 !important;
}

.big-input {
    height: 100px;
    margin-top: 15px;
    text-align: center;
}

h5 {
    height: 50px;
}

a.arrow {
    color: black;
    text-decoration: none;
    position: absolute;
    left: -55px;
    top: 35px;
    background: white;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}